{
  "parser": "@typescript-eslint/parser",
  "extends": ["@asd14/eslint-config/targets/react-ts"],
  "root": true,

  "rules": {
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/*.+(test|test-d).+(ts|tsx)",
          "example/**/*.(cjs|ts|tsx)",
          "jest.config.js",
          "jest.setup.js"
        ]
      }
    ]
  },

  "settings": {
    // Recommended if you use eslint_d
    "import/cache": {
      "lifetime": 5
    }
  }
}
